:root {
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --dark-bg-text-color: #2f303a;
  --title-color: #212121;
  --dark-bg-color: #ffffff;
  --info-color: #757575;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-style: normal;
}

address {
  font-style: normal;
}

.logo {
  text-decoration: none;
}

.logo-web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}

.logo-studio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

.list {
  list-style: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.link.current {
  color: #2196f3;
}


  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}


.taitle {
 text-align: center;
 font-weight: bold;
 text-transform: uppercase;
}


.page-taitle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
}


.header {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.main {
background-color: #2f303a;
}

.main-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #ffffff;
}

.main .button {
font-family: Roboto;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
color: #ffffff;
background-color: #2196f3;
}

.button:hover,
.button:focus {
  background-color:#188CE8;
  color: #ffffff;
}

.about-title {
font-weight: bold;
line-height: 1.14;
text-transform: uppercase;
color: var(--title-color);
}
.about-info {
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--info-color);
}



